API/
node_modules/
dist/
Z64/
ModelTest/
build/
roms/
.vscode/
modloader64-config.json
modloader64-p2-config.json
libs/
win-ia32-unpacked/
win-ia32-unpacked.pak
new zzplayas stuff/
OoTR_386612_02WAD8J217.bps
src/OoTR_386612_02WAD8J217.bps
postbuild.js
src/cheatmenu.pak
CustomActorToolkit0.42/
Texture64-v0.1.1/
zzobjman.exe
tools/
merge.bat
src/vanillamizer.bps
src/Nimpize_Adventure.bps
christmas2020_rewardmap.json
src/DrAhsidVoice.pak
test_files/
