node_modules/
dist/
Z64/
ModelTest/
build/
roms/
.vscode/
modloader64-config.json
modloader64-p2-config.json
libs/
win-ia32-unpacked/
win-ia32-unpacked.pak
new zzplayas stuff/
OoTR_386612_02WAD8J217.bps
src/OoTR_386612_02WAD8J217.bps
postbuild.js
src/cheatmenu.pak
CustomActorToolkit0.42/
Texture64-v0.1.1/
zzobjman.exe
tools/
merge.bat
src/vanillamizer.bps
src/Nimpize_Adventure.bps
christmas2020_rewardmap.json
src/DrAhsidVoice.pak
src/HideHUD.pak
test_files/
privateKey.pem
*.content
external_cores/ML64-Z64Lib/
OcarinaofTimeOnline-HolidayAssets/
src/OoTR_776687_E9I85FEGSC.bps
src/CustomTunicRedux.pak
src/Adult_Ganon(SMALL)_OOT.pak
temp.json
src/Combined_LTTPLink.pak
ram.bin
src/DistractionDance_emote.zip
src/OoTR_783771_1BURGQSV03.bps
c/
src/ThiccMalonML64.pak
src/Vanillamizer_skipintro.bps
shop.json
OotO.pem
cache/
*.bps
src/DoubleDynamite.pak
patch_day.bin
*.pak
objects/
decomp/
